.wrapper {
	position: relative;
	.btn-scroll {
		position: fixed;
		top: 10px;
		left: 50px;
		transition: 0.3s;
		z-index: 250;
		cursor: pointer;
		@media(max-width: 1000px) {
			left: 20px;
		}
		@media(max-width: 500px) {
			left: 0px;
		}
	}
	.btn-scroll:hover {
		transform: scale(1.15);
	}
	.btn-scroll:active {
		transform: scale(0.9);
	}
}


.circle {
	opacity: 0;
}