<footer class="footer">
  <div class="container container-footer">
    <div class="contacts">
      @@include('blocks/title-h2.html', {
        "text": "Contacts",
        "class": "contacts__title",
      })
      <p class="contacts__description">Want to know more or just chat? 
        You are welcome!</p>
        <button class="contacts__button btn-open-message-js">Send message</button>
        <div class="social">
          <a href="#">Instagram</a>
          <a href="#">Vk</a>
          <a href="#">Telegram</a>
          <a href="#">Mail</a>
          <a href="#">GitHub</a>
          <a href="#">Phone</a>
        </div>
        <div class="contacts__dl">
          <p class="contacts__dl-text">Direct by <a class="contacts__dl-link" href="#">DL Academy</a></p>
          <p class="contacts__dl-text">Program code from Antonina</p>
        </div>
    </div>
  </div>
</footer>
