<header class="header">
	<div class="container header-container">
	<nav class="header-nav">
		<ul class="header-list">
			<li class="header-list__item item-home"><a class="header-list__link link-focus" href="#">Home</a></li>
			<li class="header-list__item"><a class="header-list__link" href="../../my-blog.html">My blog</a></li>
			<li class="header-list__item"><a class="header-list__link btn-open-sign-js" href="#">Sign In</a></li>
			<li class="header-list__item"><a class="header-list__link btn-open-register-js" href="#">Register</a></li>
		</ul>
	</nav>
	</div>
	<div class="burger-wrapper burger-not-visible">
	<div class="burger">
		@@include('blocks/button-cross.html', {
			"class": "burger__close-btn btn-close",
			"class-js": "btn-close-burger-js",
		})
		<nav class="burger__nav">
			<ul class="burger-list">
			<li class="burger-list__item item-home"><a class="burger-list__link link-home" href="#">Home</a></li>
			<li class="burger-list__item"><a class="burger-list__link" href="#">My blog</a></li>
			<li class="burger-list__item"><a class="burger-list__link btn-open-sign-js" href="#">Sign In</a></li>
			<li class="burger-list__item"><a class="burger-list__link btn-open-register-js" href="#">Register</a></li>
			</ul>
		</nav>
	</div>
	</div>
</header>