<section class="section-message modal-message-js display-none-js">
	@@include('blocks/title-h2.html', {
	"text": "Sign in",
	"class": "u-visuallyhidden",
	})
	<div class="wrapper">
		<div class="wrapper__form">
			<form class="form register-js" action="#">
				<div class="form__inline">
					<div class="form__name">
						<label class="form__label" for="your-name">What is your name?<span class="red"> *</span></label>
						<input class="form__input" type="text" id="your-name">
					</div>
					<div class="form__subject">
						<label class="form__label" for="subject">Message subject<span class="red"> *</span></label>
						<input class="form__input" type="text" id="subject">
					</div>
				</div>
				<div class="form__inline">
					<div class="form__email">
						<label class="form__label" for="e-mail">Your Email<span class="red"> *</span></label>
						<input class="form__input" type="email" id="e-mail">
					</div>
					<div class="form__phone">
						<label class="form__label" for="phone">Your mobile phone<span class="red"> *</span></label>
						<input class="form__input" type="tel" id="phone">
					</div>
				</div>
				<div class="form__textarea">
					<label class="form__label" for="message">What do you want to discuss with me?<span class="red"> *</span></label>
					<textarea name="message" id="message"></textarea>
				</div>
				<!-- <button class="button__form" type="button">Sign up</button> -->
				@@include('blocks/button.html', {
					"text": "Send",
					"type": "submit",
					"class": "form__send",
				})
			</form>
			<!-- <svg class="btn-close btn-close-js" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
				<rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
			</svg> -->
			@@include('blocks/button-cross.html', {
				"class": "btn-close",
				"class-js": "btn-close-message-js",
			})
		</div>
	</div>
</section>