<section class="section-change-password modal-change-password-js display-none-js">
	@@include('blocks/title-h2.html', {
	"text": "Change password",
	"class": "u-visuallyhidden",
	})
	<div class="form-wrapper">
		<div class="form-inner-wrapper">
			<form class="form" name="changePassword" novalidate>
				<div class="form__password error-js">
					<label class="form__password-label error-label" for="oldPassword">Old password<span class="red"> *</span></label>
					<input class="form__password-input req-js email-js error-js" type="password" id="old-password" name="oldPassword" required>
				</div>
				<div class="form__password error-js">
					<label class="form__password-label error-label" for="newPassword">New password<span class="red"> *</span></label>
					<input class="form__password-input req-js error-js" type="newPassword" id="newPassword" name="newPassword" required>
				</div>
				<div class="form__password error-js">
					<label class="form__password-label error-label" for="newPasswordRepeat">Repeat new password<span class="red"> *</span></label>
					<input class="form__password-input req-js error-js" type="password" id="newPasswordRepeat" name="newPasswordRepeat" required>
				</div>
				@@include('blocks/button.html', {
					"text": "Change password",
					"type": "submit",
					"class": "form__button",
					"class-mode": "",
				})
			</form>
			@@include('blocks/button-cross.html', {
				"class": "btn-close",
				"class-js": "btn-close-js",
			})
		</div>
	</div>
</section>