<section class="section-sign-in modal-sign-in-js none-js">
	@@include('blocks/title-h2.html', {
	"text": "Sign in",
	"class": "u-visuallyhidden",
	})
	<div class="wrapper">
		<div class="wrapper__form">
			<form class="form" action="#">
				<div class="form__email">
					<label class="form__label" for="mail">Email<span class="form__label-red"> *</span></label>
					<input class="form__input" type="mail" name="mail">
				</div>
				<div class="form__password">
					<label class="form__label" for="mail">Password<span class="form__label-red"> *</span></label>
					<input class="form__input" type="mail" name="mail">
				</div>
				<button class="button__form" type="button">Login</button>
			</form>
			<svg class="btn-close btn-close-js" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
				<rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
			</svg>
		</div>
	</div>
</section>