<section class="section-message modal-message-js display-none-js">
	@@include('blocks/title-h2.html', {
	"text": "Sign in",
	"class": "u-visuallyhidden",
	})
	<div class="wrapper">
		<div class="wrapper__form">
			<form class="form" name="formMessage" novalidate>
				<div class="form__inline">
					<div class="form__name">
						<label class="form__label" for="your-name">What is your name?<span class="red"> *</span></label>
						<input class="form__input" type="text" id="your-name" name="userName" required>
					</div>
					<div class="form__subject">
						<label class="form__label" for="subject">Message subject<span class="red"> *</span></label>
						<input class="form__input" type="text" id="subject" name="subject" required>
					</div>
				</div>
				<div class="form__inline">
					<div class="form__email">
						<label class="form__label" for="e-mail">Your Email<span class="red"> *</span></label>
						<input class="form__input" type="text" id="e-mail" name="userMail" required>
					</div>
					<div class="form__phone">
						<label class="form__label" for="phone">Your mobile phone<span class="red"> *</span></label>
						<input class="form__input" type="tel" id="phone" name="phone" required>
					</div>
				</div>
				<div class="form__textarea">
					<label class="form__label" for="message">What do you want to discuss with me?<span class="red"> *</span></label>
					<textarea name="message" id="message" required></textarea>
				</div>
				<div class="form__check">
					<input class="form__check-input" type="checkbox" id="accept" name="checkbox" required>
					<label class="form__check-label" for="accept">Clicking on the button, you consent to the processing of your personal data.</label>
					@@include('blocks/button.html', {
						"text": "Sign Up",
						"type": "submit",
						"class": "form__button",
						"class-mode": "button-submit",
					})
					<button class="form__button button-disabled" type="submit" disabled>Sign Up</button>
				</div>
				<!-- <button class="button__form" type="button">Sign up</button> -->
				<!-- @@include('blocks/button.html', {
					"text": "Send",
					"type": "submit",
					"class": "form__send",
				}) -->
			</form>
			@@include('blocks/button-cross.html', {
				"class": "btn-close",
				"class-js": "btn-close-message-js",
			})
		</div>
	</div>
</section>