<div class="post">
	<picture>
		<img class="post__image" src="../../img/image/post-image-dog.jpg" width="314" height="299" alt="dog">
	</picture>
	<div class="post__content">
		<div class="post__content-color">
			<div class="post__content-color--one"></div>
			<div class="post__content-color--two"></div>
			<div class="post__content-color--three"></div>
		</div>
		<div class="post__content-info">
			<p class="post__content-info--date">20.01.2020</p>
			<p class="post__content-info--views">223 views</p>
			<p class="post__content-info--comments">97 comments</p>
		</div>
		<h3 class="post__content-title">This is my new dog.</h3>
		<p class="post__content-description">Duis sit odio dui pretium suspendisse malesuada sit leo in. Massa nec eget etiam tellus ac. Sodales nibh pellentesque donec eu ultrices tortor condimentum massa.</p>
		<a class="post__content-link" href="#">Go to this post</a>
	</div>
</div>