<!-- Slider main container -->
<div class="slider-wrapper-block swiper">
	<!-- Additional required wrapper -->
	<div class="slider-inner-block swiper-wrapper">
		<!-- Slides -->
		<div class="slider-slide slider-slide--one swiper-slide">
			<a href="https://8maynik.github.io/yo-vashkevich-nikita-2.github.io/index.html" class="slider-slide__link">
				<picture>
					<img class="slider-slide__link-image" src="../../img/image/slide-first-project.jpg" alt="my first project in  the Direct Line Academy" width="1000" height="2148">
				</picture>
			</a>
			<div class="slider-slide__info">
				<a href="https://8maynik.github.io/yo-vashkevich-nikita-2.github.io/index.html" class="slider-slide__info--link">Learning site for DL Academy courses</a>
				<p class="slider-slide__info--descr">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
			</div>
		</div>
		<div class="slider-slide slider-slide--two swiper-slide">
			<a href="https://rolling-scopes-school.github.io/8maynik-JSFEPRESCHOOL2022Q4/plants/" class="slider-slide__link">
				<picture>
					<img class="slider-slide__link-image" src="../../img/image/slide-two-project.jpg" alt="my first project in  the Direct Line Academy" width="1000" height="2348">
				</picture>
			</a>
			<div class="slider-slide__info">
				<a href="https://rolling-scopes-school.github.io/8maynik-JSFEPRESCHOOL2022Q4/plants/" class="slider-slide__info--link">Learning site for Rolling Scopes School courses</a>
				<p class="slider-slide__info--descr">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
			</div>
		</div>
		<div class="slider-slide slider-slide--three swiper-slide">
			<a href="https://8maynik.github.io/rsschool-cv/" class="slider-slide__link">
				<picture>
					<img class="slider-slide__link-image" src="../../img/image/slide-three-project.jpg" alt="my cv project in  the Rolling Scope School" width="1000" height="2348">
				</picture>
			</a>
			<div class="slider-slide__info">
				<a href="https://8maynik.github.io/rsschool-cv/" class="slider-slide__info--link">Learning my first CV for Rolling Scopes School courses</a>
				<p class="slider-slide__info--descr">A static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
			</div>
		</div>
	</div>
	<!-- If we need pagination -->
	<!-- <div class="swiper-pagination"></div> -->

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
</div>